<%= form_for @invite do |f| %>
	<div class="field">
		<%= f.label :recipient, "Recipient email" %>
		<%= f.text_field :recipient %>
	</div>

	<div class="field">
		<%= f.label :message %>
		<%= f.text_area :message %>		
	</div>

	<div class="field user_location">
		<%= f.hidden_field :latitude, :value => '', :class => 'user_latitude' %>
		<%= f.hidden_field :longitude, :value => '', :class => 'user_longitude' %>
	</div>

	<% if :new  %>
		<label for="fader">Expire in: </label>
		<input type="range" min="0.5" max="6" value="4" id="fader" 
		  step="0.5" oninput="outputUpdate(value)">
		<output for="fader" id="volume">4</output> hours

		<script>
		  function outputUpdate(vol) {
		  document.querySelector('#volume').value = vol;
		}
		</script>
	<% end %>

	<div class="field">
		<%= f.hidden_field :id, :value => @invite_id %>
		<%= f.submit class: 'button' %>
	</div>
<% end %>