<%= form_for @invite do |f| %>
	<div class="field recipient">
		<%= f.label :recipient, "Recipient email" %>
		<%= f.text_field :recipient %>
		<small>Comma separate for multiple recipients</small>
		<!-- <i class="fa fa-plus-circle recipient-email__add" aria-hidden="true"></i> -->
	</div>

	<div class="field message">
		<%= f.label :message %>
		<%= f.text_area :message %>
	</div>

	<div class="field user_location">
		<%= f.hidden_field :latitude, :value => '', :class => 'user_latitude' %>
		<%= f.hidden_field :longitude, :value => '', :class => 'user_longitude' %>
		<%= f.hidden_field :expire_time, :value => '4', :class => 'expire_time' %>
	</div>

	<div class="field expire-in">
		<label for="fader">Expire in: </label>
		<div class="range">
			<input type="range" min="0.5" max="6" value="4" id="expire" 
			  step="0.5" oninput="outputUpdate(value)">
			<output for="expire" id="hours">4</output> hours
		</div>
	</div>

	<script>
	  function outputUpdate(hours) {
		  document.querySelector('#hours').value = hours;
		  document.querySelector('.expire_time').value = hours;
		}
	</script>

	<div class="field">
		<%= f.hidden_field :id, :value => @invite_id %>
		<%= f.submit class: 'button', id: 'js__form-submit', class: "btn btn--round" %>
		
	</div>

	<div id="js__get-directions" class="form__get-directions">
    <p class="alert">You are not at Bellwoods park</p>
    <a href="javascript:void(0);" class="btn btn--round">Get Directions</a>
	</div>
<% end %>