<h1>Invites#index</h1>


<% @invites.each do |invite| %>
	<div>	
	  <p>User ID: <%= invite.user_id %></p>
		<p>Recipient: <%= invite.recipient %></p>
		<p>Message: <%= invite.message %></p>
		<p>Latitude: <%= invite.latitude %></p>
		<p>Longitude: <%= invite.longitude %></p>
		<p><%= link_to "View invite", invite_path(invite.id) %></p>
	  <p><%= link_to "Delete invite", invite_path(invite.id), method: :delete, data: { confirm: "Are you sure?"} %></p>
	</div>
	</br>
<% end %>