<h1>Invites#index</h1>


<% @invites.each do |invite| %>
	<div>	
		Latitude: <%= invite.latitude %></br>
	  Longitude: <%= invite.longitude %></br>
	  User ID: <%= invite.user_id %></br>
	  Recipient: <%= invite.recipient %></br>
	  Message: <%= invite.message %></br>
	  
	</div>
	</br>
<% end %>