<div class="wrapper">
	<h2>Your active Invites</h2>

	<% unless @invites.present? %>
		<p>You don't have any active invites</p>
		<%= link_to "Create a new invite", new_invite_path, class: "btn btn--round" %>
	<% end %>
	<% @invites.each do |invite| %>
		<div class="invite">	
			<p>Created on <%= invite.created_at.strftime("%d %B %Y") %></p>
			<p>Invited: <%= invite.recipient %></p>
			<p>Message: <%= invite.message %></p>

		<% if invite.created_at > 4.hours.ago %>
			<p>Expires in: <%= distance_of_time_in_words(invite.expires_in) %></p>
		<% else %>
			<p>This invite has expired</p>
		<% end %>

			<p><%= link_to "View invite", invite_path(invite.id) %></p>
		  <p><%= link_to "Delete invite", invite_path(invite.id), method: :delete, data: { confirm: "Are you sure? This cannot be undone."} %></p>
		</div>
		</br>
	<% end %>
</div>