<h1>Invitation</h1>
<p>This invite was created on <%= @invite.created_at.strftime("%d %B %Y") %></p>

<% unless current_user %>
  <p>Sent from: <%= @invite.user.profile.abrev_name %>.</p>
<% end %>
<p>Message: <%= @invite.message %></p>
<p>Expires in: <%= distance_of_time_in_words(@invite.expires_in) %></p>

<%= content_tag :div, class: "location_information", data: {invite: @invite} do %>
<% end %>
<%= content_tag :div, class: "sender_information", data: {invite: @invite.user.profile} do %>
<% end %>
<style type="text/css">
    .marker {

      /* Inluding CSS here for now */
      background-image: url(<%= @profile.avatar.url(:thumb) %>);
      background-size: cover;
      background-repeat:  no-repeat;
      background-position: center;
      width: 55px;
      height:  55px;
      border-radius: 50%;
      border:  5px solid #aaa;
      position: relative;
    }

    .marker::after {
      content:  "";
      width: 0; 
      height: 0; 
      position: absolute;
      bottom:  -18px;
      z-index:  -1;
      left:  calc(50% - 20px);
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #aaa;
    }
</style>
<div id="map" style="height: 400px;"></div>
<script>

  function initMap() {

  	var user_invite_data = $('.location_information').data('invite');
    var sender_invite_data = $('.sender_information').data('invite');

  	var user_lat = user_invite_data.latitude;
  	var user_lng = user_invite_data.longitude;
  	var sender_name = sender_invite_data.first_name;

    function initialize() {

      var myLatlng = new google.maps.LatLng(user_lat, user_lng);

      var mapOptions = {
        zoom: 20,
        center: myLatlng,
        disableDefaultUI: true
      }
      
      var map = new google.maps.Map(document.getElementById('map'), mapOptions);
      
      overlay = new CustomMarker(
        myLatlng, 
        map,
        {
          marker_id: '123'
        }
      );
    }

    google.maps.event.addDomListener(window, 'load', initialize);

    function CustomMarker(latlng, map, args) {
      this.latlng = latlng; 
      this.args = args; 
      this.setMap(map); 
    }

    CustomMarker.prototype = new google.maps.OverlayView();

    CustomMarker.prototype.draw = function() {
      
      var self = this;
      
      var div = this.div;
      
      if (!div) {
      
        div = this.div = document.createElement('div');
        
        div.className = 'marker';
        
        if (typeof(self.args.marker_id) !== 'undefined') {
          div.dataset.marker_id = self.args.marker_id;
        }
        
        var panes = this.getPanes();
        panes.overlayImage.appendChild(div);
      }
      
      var point = this.getProjection().fromLatLngToDivPixel(this.latlng);
      
      if (point) {
        div.style.left = (point.x - 10) + 'px';
        div.style.top = (point.y - 20) + 'px';
      }
    };

    CustomMarker.prototype.remove = function() {
      if (this.div) {
        this.div.parentNode.removeChild(this.div);
        this.div = null;
      } 
    };

    CustomMarker.prototype.getPosition = function() {
      return this.latlng; 
    };
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf1VWB16nqD-V2R0L1ucjcSzFHE-niH10&callback=initMap"></script>