<h1>Invitation</h1>
<p>This invite was created on <%= @invite.created_at.strftime("%d %B %Y") %></p>

<% unless current_user %>
  <p>Sent from: <%= @invite.user.profile.abrev_name %>.</p>
<% end %>
<p>Message: <%= @invite.message %></p>
<p>Expires in: <%= distance_of_time_in_words(@invite.expires_in) %></p>

<%= content_tag :div, class: "location_information", data: {invite: @invite} do %>
<% end %>
<%= content_tag :div, class: "sender_information", data: {invite: @invite.user.profile} do %>
<% end %>

<div id="map" style="height: 400px;"></div>