<h1>Invitation</h1>
<p>This invite was created on <%= @invite.created_at.strftime("%d %B %Y") %></p>

<% unless current_user %>
  <p>Sent from: <%= @invite.user.profile.abrev_name %>.</p>
<% end %>
<p>Message: <%= @invite.message %></p>
<p>Expires in: <%= distance_of_time_in_words(@invite.expires_in) %></p>

<%= content_tag :div, class: "location_information", data: {invite: @invite} do %>
<% end %>
<%= content_tag :div, class: "sender_information", data: {invite: @invite.user.profile} do %>
<% end %>

<div id="map" style="height: 400px;"></div>

<script>
  var user_invite_data = $('.location_information').data('invite');
  var sender_lat = user_invite_data.latitude;
  var sender_lng = user_invite_data.longitude;

  handler = Gmaps.build('Google');

  handler.buildMap({ 
    provider: { 
      zoom: 18, 
      disableDefaultUI: true, 
      scrollwheel: false,
      draggable: false 
    }, 
    internal: {
      id: 'map'
    } 
  }, function(){

    var marker = handler.addMarker({
      lat: sender_lat,
      lng: sender_lng
    });

    handler.map.centerOn(marker);
  });
</script>