<h1>This is an email test!</h1>

<p>Recipient: <%= @invite.recipient %></p>
<p>Message: <%= @invite.message %></p>
<p>Latitude: <%= @invite.latitude %></p>
<p>Longitude: <%= @invite.longitude %></p>

<a href="<%= @root_invite_url %><%= @invite.id %>">Click here to view invite</a>
<p>This invite will expire after 4 hours</p>