<!DOCTYPE html>
<html>
<head>
  <title>Bellwoods</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>	

<% if user_signed_in? %>
	<%= link_to "Sign Out", "/users/sign_out", method: 'delete' %>
<% end %>

<%= yield %>

</body>
</html>