<!DOCTYPE html>
<html>
<head>
  <title>Bellwoods</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf1VWB16nqD-V2R0L1ucjcSzFHE-niH10"></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  <script src='//cdn.rawgit.com/googlemaps/js-rich-marker/gh-pages/src/richmarker-compiled.js' type='text/javascript'></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><%= link_to "ParkPals!", root_url %></h1>
<% if user_signed_in? %>
	<nav>
		<ul>
			<li><%= link_to "Home", root_url %></li>
			<li><%= link_to "New Invite", new_invite_path %></li>
			<li><%= link_to "Active invites", invites_url %></li>
			<li><%= link_to "My profile", profile_url %></li>
		</ul>
	</nav>
<% end %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>	

<% if !user_signed_in? %>
	<%= link_to "Sign In", "/users/sign_in" %>
<% end %>
<% if user_signed_in? %>
	<%= link_to "Sign Out", "/users/sign_out", method: 'delete' %>
<% end %>

<%= yield %>

<%= insert_paloma_hook %>

<script>
    (function(){
	    target.init();

	    Paloma.start();
    })();
</script>
</body>
</html>